@import '../../scss/reset.css';
@import '../../scss/mixins/main.scss';

@font-face {
  font-family: 'bastardaweb';
  src: url('bastarda.ttf') format('truetype');
}
html, body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #f0f1de;
  background: #111;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#img {
  @include abs();
  z-index: 1;
  background-image: url('images/gold-compressed.jpg');
  background-size:cover;
  background-position:center;
  opacity: 0;
  @include animation(zooom, 1, 10s, ease-out){
    0% { opacity: 0; @include transform(scale(1))}
    100% { opacity: 1; @include transform(scale(1.3))}
  }
  &:before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    @include gradient(#222,rgba(#222,1),rgba(#222,0),y)
  }
}
#frame {
  z-index: 2;
  @include abs();
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: .5rem solid #222;
  text-align: center;
  overflow: auto;
  h1 {
    font-size: 7rem;
    font-family: 'bastardaweb', Helvetica, sans-serif;
  }
  // img {
  //   position:absolute;
  //   $s: 400px;
  //   width: $s;
  //   margin-left: $s * -0.5;
  //   max-width: 80vw;
  //   top: 50%;
  //   margin-top: -80px;
  //   left:50%;
  //   opacity: 0.9;
  //   @media screen and (max-width: 900px) {
  //     margin-left: -40vw;
  //     margin-top: -8vw;
  //   }
  // }
  #text {
    position: relative;
    left: 50%;
    width: 100%;
    margin-left: -50%;
    text-align: center;
    padding-top: calc(50vh - 1rem - 80px);
    padding-bottom: 50vh;
    img {
      display: inline-block;
      width: 400px;
      max-width: 80%;
      margin-bottom:4rem;
      opacity: 0;
      @include animation(logo, 1, 5s, ease-out){
        0% { opacity: 0; }
        100% { opacity: 1;}
      }
    }
    > a {
      color: inherit;
      text-decoration: none;
      font-size: 1rem;
      letter-spacing: 0.05em;
      padding: 0.5em 1em;
      @include rounded(0.25em);
      background: rgba(#000,0.3);
      &:hover {
        background: rgba(#000,0.8);
      }
    }
  }
  #creditslink {
    position:absolute;
    right:0;
    top:0;
    margin: 2rem 3rem;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  #credits {
    position: relative;
    width:100%;
    height: 100%;
    text-align: center;
    top:0;
    left: 0;
    // background: rgba(#222,0.8);
    // @include gradient(#222,rgba(#222,1),rgba(#222,0.5),y);
    z-index: 3;
    padding: 40vh 2em;
    line-height: 1.25em;
    letter-spacing: 0.05em;
    font-weight: 100;
    @include padding;
    @include rounded(0.25em);
    // @include transform(translateY(-100vh));
    @include transition(0.4s, ease-in-out);
    .credits & {
      @include transform(translateY(0vh));
    }
    #wrap {
      display: inline-block;
      max-width: 100vh;
      label {
        display: block;
        margin-top: 5rem;
        margin-bottom: 2em;
        font-style:italic;
      }
      .name {
        font-size: 2rem;
        line-height: 1.25em;
        margin-bottom: 1em;
        .links {
          display:block;
          font-size: 1rem;
        }
      }
    }
    a {
      color: inherit;
    }
    b {
      font-weight: 500;
    }
  }
}