$margin: 0rem;
$padding: 0rem;

:root {
    --gr1: #000000;
    --gr2: #111111;
    --lyrics: #ffffff;
    --deepflow: #0c9ab3;
    --gr1: #333;
    --gr2: #111;
    --controlbg: #59595a;
    --controlfg: #000;
    --optionbg: #202020;
    --optionfg: #a0a0a0;
    --optionbgs: #f0e6d3;
    --optionfgs: #252529;
    --green: #00ffaa;
    --darkgreen: #00704b;
    --red: #df0000;
    --darkred: #740000;
    --maxwidth: 1200px;
    --offwhite: #f0e6d3;

}

@mixin sgr($color1, $color2) {
    background: #{$color1}; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #{$color1} 0%, #{$color2} 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #{$color1} 0%,#{$color2} 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #{$color1} 0%,#{$color2} 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=' #{$color1}', endColorstr='#{$color2}',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

body {
    background: var(--controlbg);
}

#intro {
    @include abs();
    background: var(--controlbg);
    z-index:100;
    overflow: auto;
    #wrap {
        max-width: 32rem;
        font-size: 1.5rem;
        margin: 0 auto;
        padding: 4rem;
        line-height: 1.25em;
        p {
            text-indent: 0;
            margin-bottom: 1em;
        }
        button {
            background: rgba(#000,0.3);
            @include rounded(0.25em);
            padding: 0.15em 1em;
            margin: 2em auto;
            display: block;
            &:hover {
                background: rgba(#000,0.8);
                color: var(--offwhite);
            }
        }
        @media (max-width: 600px) {
            font-size: 1rem;
            padding: 1rem;
        }
    }
}

#start {
    @include abs();
    text-align: center;
    font-size: 4rem;
    line-height: 1em;
    opacity: 1;
    background: var(--controlbg);
    padding: 1rem;
    padding-bottom:3rem;
    z-index:99;
    overflow: auto;
    @include transition(0.15s);
    @include padding();
    &.hide {
        opacity: 0;
        pointer-events: none;
    }
    button.start {
        font-size: inherit;
        background: rgba(#000,0.3);
        @include rounded(0.25em);
        padding: 0.15em 1em;
        font-size: 2rem;
        &:hover {
            background: rgba(#000,0.8);
            color: var(--optionbgs)
        }
    }
}

#scoreboard {
    font-size: 2rem;
    width: 100%;
    max-width: 18em;
    padding: 1em;
    margin: 0 auto;
    display:block;
    line-height: 1em;
    // background: #000;
    border:1px solid rgba(#000,0.1);
    margin-bottom: 2rem;
    @include rounded(0.25em);
    @include padding();
    @media (max-width: 600px) {
        font-size: 1rem;
    }
    label {
        font-size: 14px;
        margin-bottom:2em;
        padding:0;
        margin-top: -1em;
        @media (max-width: 600px) {
            margin-top: 0;
        }
        // border-bottom: 1px solid rgba(#000,0.1);
    }
    #participant {
        margin-bottom: 0.25em;
        display:block;
        width: 100%;
        overflow: hidden;
        #name {
            float:left;
            color: var(--optionbgs);
            // font-family: bastarda;
            text-transform: uppercase;
        }
        #thescore {
            float:right;
            color: #ffee00;
        }
        &.active {
            #name {
                color: #ffee00;
                &:after {
                    content:" (you)"
                }
            }
        }
    }
}

#uploading {
    @include abs();
    position: fixed;
    overflow: auto;
    z-index:999;
    background: var(--controlbg);
    text-align:center;
    padding: 2em 0;
    pointer-events: auto;
    opacity: 0;
    pointer-events: none;
    font-size: 3rem;
    @include padding();
    #frame {
        button {
            background: rgba(#000,0.3);
            @include rounded(0.15em);
            padding: 0.25em 1em;
            position: relative;
            overflow: hidden;
            color: var(--optionbgs);
            &:after {
                content:"";
                @include abs();
                background: rgba(#000,0.3);
                @include animation(uploading, infinite, 3s, linear, alternate){
                    0% {width:0%;}
                    50% {width:100%;left:0%;}
                    100% {width:0%;left:100%;}
                }
            }
        }
    }
    &.show {
        opacity: 1;
    }
}

element {
    position: relative;
    z-index:2;
    display:block;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: $padding;
    padding: 2rem;
    width: 100%;
    background-color: var(--controlbg);
    color: var(--controlfg);
    @include padding();
    @include bflex(row);
    @include align-items(stretch);
    @media (max-width: 600px){ 
        padding: 1rem;
    }
}

#score {
    margin-bottom: 2em;
    overflow: auto;
    height: 2rem;
    position: relative;
    @include padding();
    #progress {
        position:absolute;
        bottom:0;
        height:1px;
        background: rgba(#000,0.1);
        width: 100%;
        #progressbar {
            @include abs();
            width: 0%;
            background: var(--green);
            opacity: 0.25;
            @include transition2(opacity,0.5s);
            &.fifty { opacity: 0.5; }
            &.seventyfive {opacity: .75; }
            &.ninety {opacity: 1;}
            &.done {background: rgba(#000,0.8) };
        }
    }
    button {
        font-size: 1rem;
        float:right;
        vertical-align: middle;
        background: rgba(#000,0.1);
        @include rounded(0.25em);
        &:hover {
            background: rgba(#000,0.5);
            color: var(--optionbgs);
        }
        &.censored {
            background: #00f;
            color: #fff;
        }
    }
    #dot {
        display:inline-block;
        vertical-align: middle;
        $s: 1rem;
        width: $s;
        height: $s;
        @include rounded(100%);
        background: var(--controlfg);
        margin-right: 0.5em;
        margin-bottom: 0.5em;
        opacity: 0.5;
        @include transition(0.3s);
        @include transform(scale(0.75));
        &.wrong { @include transform(scale(1)); opacity: 1; background: var(--red);}
        &.correct { @include transform(scale(1)); opacity: 1; background: var(--green);}
        &.active { @include transform(scale(0.75)); opacity: 1;}
        @media (max-width: 600px){
            $s: 0.5rem;
            width: $s;
            height: $s;
            margin-top:0.5rem;
        }
    }
}

button {
    font-size: 2rem;
    background: transparent;
    &.active {
        color: var(--optionbgs);
    }
}


#bgcolor {
    @include abs();
    z-index: -1;
    &.yes { background-color: var(--darkgreen); }
    &.no { background-color: var(--darkred); }
    @include transition(0.3s);
}

#question {
    display: block;
    margin: 0 auto;
    max-width: var(--maxwidth);
    #choose, #forreal {
        button {
            color: var(--offwhite);
            background: rgba(#000,0.3);
            @include rounded(0.15em);
            padding: 0.25em 1em;
            &.active, &:hover {
                background: rgba(#000,0.8);
            }
        }
    }
}


.phrase {
    font-size: 1.5rem;
    line-height: 1em;
    margin-bottom: 1em;
    cursor: pointer;
    padding-right: 2em;
    color: var(--offwhite);
    @media (max-width: 600px) {
        font-size: 1rem;
    }
    &.active {
        color: var(--optionbgs);
    }
    > div {
        margin-bottom: .5em;
    }
    .artist {
        margin-top: 2em;
    }
}

#choose {
    #frame {
        overflow: auto;
        display:block;
        width: 100%;
        .phrase {
            width: 50%;
            &:nth-child(2) {
                width: calc(50% - 1em);
                margin-right: 0;
            }
            margin-right: 1em;
            @media (max-width: 1000px){
                width: 100%;
                margin-right: 0;
                &:nth-child(2) {
                    width: 100%;
                    margin-right: 0;
                }
            }
            float:left;
            display:block;
            padding: 1em;
            background: rgba(#000,0.3);
            @include rounded(0.25em);
            @include padding();
            &:hover, &.active {
                color: var(--optionbgs);
                background: rgba(#000,0.8);
            }
        }
    }
}

#forreal {
    #content {
        min-height: 10rem;
    }
    #options {
        // border-top:1px solid rgba(#000,0.1);
        #option {
            float:left;
            width: 50%;
            @include padding();
            text-align: center;
            button {
                display:inline-block;
                margin: 0.5em 0;
                &:hover {
                    color: var(--optionbgs);
                }
            }
            @media (max-width: 600px){
                width: 50%;
                button {
                    width: calc(100% - 1rem);
                    font-size: 1rem;
                    padding: 1rem;
                    // width: 100%;
                    margin-bottom: 0;
                    @include padding();
                }
            }
        }
    }
}