
/* TYPOGRAPHY */

$font: 'Helvetica'; $fontoffset: 1.355em;
// $font: "Suisse BP Int'l"; $fontoffset: 1.245em;
// $font: 'Arial'; $fontoffset: 1.375em;
// $font: 'Palatino'; $fontoffset: 1.25em;
// $font: 'Roboto Mono'; $fontoffset: 1.35em;
// $font: "Crimson Text"; $fontoffset: 1.32em;
// $font: "Baskerville"; $fontoffset: 1.32em;
// $font: "Agipo"; $fontoffset: 1.42em;

$letterspacing: 0.0em;
$wordspacing: 0.2em;
$lineheight: 1.25em;
$padding: 1rem;
$margin: 1rem;
$fontsize: 18px;

$fxs: 11px;
$fs: 14px;
$fn: 1rem;
$fl: 1.2rem;
$fxl: 1.8rem;

b, strong {
  font-family: 'HaasMedium';
  font-weight: normal;
}
