$margin: 0rem;
$padding: 0rem;

:root {
    --gr1: #000000;
    --gr2: #111111;
    --lyrics: #ffffff;
    --deepflow: #0c9ab3;
    --gr1: #333;
    --gr2: #111;
    --controlbg: #59595a;
    --controlfg: #000;
    --optionbg: #202020;
    --optionfg: #a0a0a0;
    --optionbgs: #0000ff;
    --optionfgs: #fff;
    --maxwidth: 1200px;
    --offwhite: #f0e6d3;
}

@mixin sgr($color1, $color2) {
    background: #{$color1}; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #{$color1} 0%, #{$color2} 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #{$color1} 0%,#{$color2} 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #{$color1} 0%,#{$color2} 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=' #{$color1}', endColorstr='#{$color2}',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

body {
    background: var(--controlbg);
    overflow: hidden;
}

#loading {
    display:block;
    position:absolute;
    width: 100%;
    font-size: 2rem; 
    text-align: center;
    top:0;
    // font-family: 'gofflight';
    opacity: 0;
    line-height: 2em;
    color: #fff;
    overflow: hidden;
    @include transition(0.25s);
    &.show {
        opacity: 1;
    }
    &:after {
        content:"";
        position: absolute;
        left:0;
        bottom:0;
        height: 100%;
        width: 10rem;
        background: var(--offwhite);
        @include sgr(rgba(#ffffff,0),var(--controlbg));
        // @include mix(5);
        @include animation(loading, infinite, 1s, linear){
            0% { @include transform(translateX(-10rem));}
            100% { @include transform(translateX(10rem));}
        }
    }
}

element {
    border:2px solid transparent;
    position: relative;
    z-index:2;
    display:block;
    width: calc(100vw - #{$margin * 2});
    max-width: var(--maxwidth);
    max-width: 90vh;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    color: var(--controlfg);
    @include padding();
    #canvas {
        background: #fff;
        background-image: url('/static/images/logo-blue.png');
        background-position: top 1rem right 1rem;
        background-size: 20%;
        background-repeat: no-repeat;
        color: var(--lyrics);
        min-width: 60%;
        min-height: 70vh;
        margin: 0; 
        margin-top: 2rem;
        @include padding();
        color: #000;
        padding: 3rem;
        padding-top: 6rem;
        font-size: 1rem;
        line-height: 1.25em;
        div {
            margin-bottom:0.5em;
        }
        .new {
            font-weight:bold;
            font-style: italic;
            &:before {
                // content: "*** ";
            }
        }
    }
    #control {
        width: 100%;
        position: relative;
        @include padding();
        .censor {
            position: fixed;
            top: 0;
            left: 0;
            margin: 2rem;
            @include rounded(0.25em);
            padding: 0.25em 1em;
            background: rgba(#000,0.3);
            color: #fff;
            &:hover, &.active {
                background: #00f;

            }
        }
        > div {
            // background: #9e9d98;
            // background: #111;
            width: 100%;
            @include padding();
        }
        #buttons {
            display: inline-block;
            width: 12rem;
        }
        #options {
            display: inline-block;
            // position:absolute;
            left:1rem;
            bottom:1rem;
            width: 100%;
            margin-top: 2px;
            .maximum {
                text-align: center;
                max-width: 32em;
                margin: 0 auto;
                padding: 1rem 0;
                color: var(--offwhite);
            }
            .option {
                width: 100%;
                margin-bottom:2px;
                background: var(--optionbg);
                color: #fff;
                opacity: 1;
                padding: 1em 1.5em;
                // padding-left: 2.5em;
                font-size: 0.8rem;
                position: relative;
                min-height: 2.5rem;
                @include padding();
                &:before {
                    // content:"";
                    // width: .7rem;
                    // height: .7rem;
                    // @include rounded(100%);
                    // background: #000;
                    border: 8px solid transparent;
                    border-width: 6px 8px;
                    border-right-color: transparent;
                    display:inline-block;
                    margin: 0;
                    position:absolute;
                    left:-16px;
                    top:1.5em;
                }
                > div {
                    opacity: 0.5;
                }
                .text {
                    display:inline-block;
                }
                &.selected {
                    color: var(--optionfgs);
                    background: var(--optionbgs);
                    &:before {
                        border-right-color: var(--optionbgs);
                    }
                    > div {
                        opacity: 1;
                    }
                }
            }
            &.done {
                .option {
                    opacity: 0.5;
                    font-style:italic;
                }
            }
        }
    }
}